pipeline/Child Pipeline.json
{
	"name": "Child Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TestValueArrayInt",
					"value": [
						1,
						2,
						3
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('TestValueArrayInt'), pipeline().parameters.ExpectedValueArrayInt)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Expected: ', string(pipeline().parameters.ExpectedValueArrayInt), ', Actual: ', string(variables('TestValueArrayInt')) )",
									"type": "Expression"
								},
								"errorCode": "400"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ExpectedValue": {
				"type": "array",
				"defaultValue": [
					"VALIDATED",
					"complete",
					"200"
				]
			},
			"ExpectedValueBasic": {
				"type": "string",
				"defaultValue": "basic"
			},
			"ExpectedValueArrayInt": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3
				]
			}
		},
		"variables": {
			"TestValue": {
				"type": "Array"
			},
			"TestValueBasic": {
				"type": "String"
			},
			"TestValueArrayInt": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}