pipeline/consumes setvar objkey_copy1 broken ITS Fixed.json
{
	"name": "consumes setvar objkey_copy1 broken ITS Fixed",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "setvar objkey_copy1 broken",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.objKeyAgain.objNest2",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-08-02T17:39:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}