pipeline/ParentPipeline.json
{
	"name": "ParentPipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ChildPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StringOutput",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.ChildReturn",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"StringOutput": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-02T17:56:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}